.product-summary{
    background-color:  #e0d88e;
    padding: 20px;
    border-radius: 6px;
    position: sticky;
    top: 10px;
}

.product-summary p{
    font-weight: 600;
}

.product-summary h3{
    text-align: center;
    margin-bottom: 20px;
}