.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    padding: 30px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order-summary{
    background-color:  #e0d88e;
    padding: 15px;
}

.order-summary h4{
    text-align: center;
}